In [6]:
import pandas as pd
from pathlib import Path

# Загружаем оба файла
file1 = Path("data") / "dataset_linkedin-jobs-scraper-no-login-required_2025-12-14_20-55-54-808.xlsx"
file2 = Path("data") / "dataset_linkedin-jobs-scraper-no-login-required_2025-12-14_21-42-36-690.xlsx"

df1 = pd.read_excel(file1)
df2 = pd.read_excel(file2)

print(f"Начальное количество записей df1: {len(df1)}")
print(f"Начальное количество записей df2: {len(df2)}")

# Объединяем по колонкам (выравнивание по именам)
df = pd.concat([df1, df2], ignore_index=True)

print(f"Итоговое количество записей после объединения: {len(df)}")

# Сохраняем в новый Excel
output_file = Path("data") / "dataset_linkedin-jobs-scraper-no-login-required_2025-12-14.xlsx"
df.to_excel(output_file, index=False)

print(f"Объединённый файл сохранён: {output_file}")

Начальное количество записей df1: 2012
Начальное количество записей df2: 503
Итоговое количество записей после объединения: 2515
Объединённый файл сохранён: data\dataset_linkedin-jobs-scraper-no-login-required_2025-12-14.xlsx

In [8]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
search_term,2515,10,Digital Process Analyst,600,NaN,NaN,NaN,NaN,NaN,NaN,NaN
job_title,2515,1440,Project Manager,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
company_name,2515,1210,Masters of Marketing,179,NaN,NaN,NaN,NaN,NaN,NaN,NaN
company_id,2514.0,NaN,NaN,NaN,25133991.35362,34082313.173153,1009.0,388882.0,8346506.5,37033912.0,110045317.0
location,2515,426,"Berlin, Berlin, Germany",268,NaN,NaN,NaN,NaN,NaN,NaN,NaN
published_at,2515,35,2 weeks ago,456,NaN,NaN,NaN,NaN,NaN,NaN,NaN
applications_count,2515,164,Be among the first 25 applicants,1445,NaN,NaN,NaN,NaN,NaN,NaN,NaN
job_id,2515.0,NaN,NaN,NaN,4314302527.114116,52036959.779031,3414599174.0,4306298397.0,4331459708.0,4343055837.5,4349960893.0
salary_range,111,63,"€50,000.00/yr - €65,000.00/yr",6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
benefits,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
apply_type,2515,2,easy_apply,1678,NaN,NaN,NaN,NaN,NaN,NaN,NaN
job_url,2515,2515,https://de.linkedin.com/jobs/view/digital-prog...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
apply_url,2515,2487,https://www.linkedin.com/jobs/view/externalApp...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
company_url,2515,1210,https://de.linkedin.com/school/masters-of-mark...,179,NaN,NaN,NaN,NaN,NaN,NaN,NaN
seniority_level,2515,7,Mid-Senior level,1444,NaN,NaN,NaN,NaN,NaN,NaN,NaN
employment_type,2515,6,Full-time,2402,NaN,NaN,NaN,NaN,NaN,NaN,NaN
job_function,2502,179,"Research, Analyst, and Information Technology",422,NaN,NaN,NaN,NaN,NaN,NaN,NaN
industries,2514,302,IT Services and IT Consulting,405,NaN,NaN,NaN,NaN,NaN,NaN,NaN
poster_full_name,292,230,Anja Manglkammer,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
poster_profile_url,292,230,https://de.linkedin.com/in/anja-manglkammer-64...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
description_text,2515,1763,Masters of Marketing GmbHWir von der Masters o...,63,NaN,NaN,NaN,NaN,NaN,NaN,NaN
description_html,2515,1764,"<div class=""description__text description__tex...",63,NaN,NaN,NaN,NaN,NaN,NaN,NaN